<menu (fn_dashboard)="fn_getFuente($event)" class="m-0"></menu>


  <!-- style="background-image: url('./assets/img/background.png'); background-repeat: no-repeat; background-size: cover; background-position: center center;" -->
  <div class="view vh-100" >
<!--

    <div  class="mask  d-flex justify-content-center align-items-center"   style="margin-top: -100px;">
      <div class="container m-0 p-0">
        <div class="row animated  fadeIn">
          <div class="col-md-12 text-center">
            <h1 class="display-4 font-weight-bold mb-0 pt-md-5 pt-5 animated  fadeInUp">Inventario Datos CHEC</h1>
            <h5 class="pt-md-2 pt-sm-2 pt-2 pb-md-2 pb-sm-2 pb-2 wow animated  fadeInDown" data-wow-delay="0.2s" [hidden]="bSeleccionFuente">Selecciona una fuente de datos para ver su detalle</h5>
            <div class="animated  fadeInUp" data-wow-delay="0.4s">
            
            </div>
          </div>
        </div>
      </div>
    </div>
-->
<!--Button with wave-->



        	<div class="row no-gutters  pt-4 mx-3"  style="display:flex;justify-content: center;align-items: center;margin-top: 37px !important;position: relative;">
            <div style="margin-right:71px;">
              <div class="text-center contenedor_bloque_izq" style=" position:  relative;">
                  <i class="fas fa-long-arrow-alt-right flecha_derecha" style="top: 91px;" ></i>
                  <i class="fas fa-long-arrow-alt-right flecha_derecha" style="top: 250px;" ></i>
                  <i class="fas fa-long-arrow-alt-right flecha_derecha" style="top: 407px;" ></i>
                 <div mdbWavesEffect class="bloque_izq sombra" (click)="categoria='clientes';titulo='';" [ngClass]="categoria=='clientes'?'seleccion_categoria':''" >
                    <p class="p-0 m-0 texto_titulos texto_bloque_izquierdo">                  

                      Clientes y Necesidades</p>
                 </div>
                 <i class="fas fa-long-arrow-alt-up flecha_arriba" ></i>

              </div>
            </div>
            <div style="margin-right:71px;">

        	    <div class="text-center " style="position: relative" >

                    <!--Grid row-->
                    <div  mdbWavesEffect class="d-inline-block" style="position: relative;" >
                      <p class="m-0 p-0 texto_titulos texto_titulo_1 centrado_texto_titulos" >GERENCIALES</p>
                      <div  class="forma_titulos sombra" [ngClass]="titulo=='gerenciales'?'seleccion_titulo':''">
                        <img src="./assets/img/gerenciales.svg" class="icon_titulo_left" >
                      </div>
                    </div>

                    <div   id="gerenciales" style=" margin-top:-14px;" class="p-0 contenedor_categorias sombra" >
                      <div class="d-flex justify-content-around">
                        <div  class="contenedor_engranen">
                          <div class="rectangulo_categoria" mdbWavesEffect (click)="categoria='gestion_academico';titulo='gerenciales'" [ngClass]="categoria=='gestion_academico'?'seleccion_categoria':''">
                            <p  class="texto_engranen_1 p-0 m-0" >Gestion Recursos de Apoyo Académico</p>
                            <img class="icon_1" src="./assets/img/gestion_estrategica.svg"   >
                          </div>
                        </div>
                        <div  class="contenedor_engranen">
                          <div class="rectangulo_categoria" mdbWavesEffect (click)="categoria='calidad';titulo='gerenciales'" [ngClass]="categoria=='calidad'?'seleccion_categoria':''">
                            <p  class="texto_engranen_1 p-0 m-0" >Sistema de Gestión de la Calidad</p>
                            <img class="icon_1" src="./assets/img/quality.svg"   >
                          </div>
                        </div>
                      </div>
                    </div>

                    <i class="fas fa-long-arrow-alt-down flecha_abajo"></i>


                    <div mdbWavesEffect class="d-inline-block" style=" margin-top:-15px; position: relative;">
                      <p class="m-0 p-0 texto_titulos texto_titulo_1 centrado_texto_titulos">MISIONALES</p>
                      <div  class="forma_titulos sombra" [ngClass]="titulo=='misionales'?'seleccion_titulo':''">
                        <img src="./assets/img/misionales.svg" class="icon_titulo_left">

                      </div>
                    </div>
                    <div  id="misionales"   style=" margin-top:-14px;" class="p-0 contenedor_categorias sombra" >
                      <div class="d-flex justify-content-around">
                        <div  class="contenedor_engranen">
                          <div class="rectangulo_categoria" mdbWavesEffect (click)="categoria='docencia';titulo='misionales'" [ngClass]="categoria=='docencia'?'seleccion_categoria':''">
                            <p  class="texto_engranen_1 p-0 m-0 "  >Docencia</p>
                            <img class="icon_1" src="./assets/img/docencia.svg"   >
                          </div>
                        </div>
                        <div  class="contenedor_engranen">
                          <div class="rectangulo_categoria" mdbWavesEffect (click)="categoria='investigacion';titulo='misionales'" [ngClass]="categoria=='investigacion'?'seleccion_categoria':''">
                            <p  class="texto_engranen_1 p-0 m-0 " >Investigación y Postgrados</p>
                            <img class="icon_1" src="./assets/img/investigacion.svg"   >
                          </div>
                        </div>
                        <div  class="contenedor_engranen">
                          <div class="rectangulo_categoria" mdbWavesEffect (click)="categoria='proyeccion';titulo='misionales'" [ngClass]="categoria=='proyeccion'?'seleccion_categoria':''">
                            <p  class="texto_engranen_1 p-0 m-0 " >Proyección Social</p>
                            <img class="icon_1" src="./assets/img/proyeccion_social.svg"   >
                          </div>
                        </div>
                      </div>
                    </div>

                    <i class="fas fa-long-arrow-alt-up flecha_abajo"></i>


                    <div  mdbWavesEffect class="d-inline-block" style=" margin-top:-15px; position: relative;">
                      <p class="m-0 p-0 texto_titulos texto_titulo_1 centrado_texto_titulos">APOYO / SOPORTE</p>
                      <div  class="forma_titulos sombra" [ngClass]="titulo=='apoyo'?'seleccion_titulo':''" >
                        <img src="./assets/img/apoyo.svg" class="icon_titulo_left">


                      </div>
                    </div>
                    <div  id="apoyo_soporte"   style=" margin-top:-14px;" class="p-0 contenedor_categorias sombra" >
                      <div class="d-flex justify-content-around">
                        <div  class="contenedor_engranen">
                          <div class="rectangulo_categoria" mdbWavesEffect (click)="categoria='humano';titulo='apoyo'" [ngClass]="categoria=='humano'?'seleccion_categoria':''">
                            <p  class="texto_engranen_1 p-0 m-0 " >Gestión Desarrollo Humano</p>
                            <img class="icon_1" src="./assets/img/desarrollo_humano.svg"   >
                          </div>
                        </div>
                        <div  class="contenedor_engranen">
                          <div class="rectangulo_categoria" mdbWavesEffect (click)="categoria='infraestructura';titulo='apoyo'" [ngClass]="categoria=='infraestructura'?'seleccion_categoria':''">
                            <p  class="texto_engranen_1 p-0 m-0 "  >Gestión de Infraestructura</p>
                            <img class="icon_1" src="./assets/img/infraestructura.svg"   >
                         </div>
                        </div>
                        <div  class="contenedor_engranen">
                          <div class="rectangulo_categoria" mdbWavesEffect (click)="categoria='academico';titulo='apoyo'" [ngClass]="categoria=='academico'?'seleccion_categoria':''">
                            <p  class="texto_engranen_1 p-0 m-0 "  >Gestión Recursos de Apoyo Académico</p>
                            <img class="icon_1" src="./assets/img/academico.svg"   >
                          </div>
                        </div>
                        <div  class="contenedor_engranen">
                          <div class="rectangulo_categoria" mdbWavesEffect (click)="categoria='bienes';titulo='apoyo'" [ngClass]="categoria=='bienes'?'seleccion_categoria':''">
                            <p  class="texto_engranen_1 p-0 m-0 " >Gestión de Bienes Servicios</p>
                            <img class="icon_1" src="./assets/img/servicios.svg"   >
                          </div>
                        </div>

                      </div>
                    </div>
                    <div class="linea" style="position: relative;">
                      
                    </div>


              </div>


            </div>
            <div class="text-center contenedor_bloque_derecho" style=" position:  relative;">
               <i class="fas fa-long-arrow-alt-right flecha_derecha_derecha" style="top: 91px;" ></i>
               <i class="fas fa-long-arrow-alt-right flecha_derecha_derecha" style="top: 250px;" ></i>
               <i class="fas fa-long-arrow-alt-right flecha_derecha_derecha" style="top: 407px;" ></i>

               <div mdbWavesEffect class="bloque_izq sombra" (click)="categoria='satisfaccion';titulo='';" [ngClass]="categoria=='satisfaccion'?'seleccion_categoria':''" >
                  <p class="p-0 m-0 texto_titulos texto_bloque_derecho" >Satisfacción de los grupos de interés</p>
               </div>
               <i class="fas fa-minus linea_union" ></i>
            </div>
            <!--<div class="linea" style="position: relative;">
              <i class="fas fa-long-arrow-alt-up flecha_arriba" ></i>
              <i class="fas fa-minus linea_union" ></i>
            </div>-->

<!--      
-->

        	 </div>






  </div>
  <!-- Full Page Intro -->

<!--<footer_component></footer_component>-->
