<menu (fn_dashboard)="fn_getFuente($event)" class="m-0"></menu>



  <div class="view vh-100" style="background-image: url('./assets/img/background.png'); background-repeat: no-repeat; background-size: cover; background-position: center center;">
<!--

    <div  class="mask  d-flex justify-content-center align-items-center"   style="margin-top: -100px;">
      <div class="container m-0 p-0">
        <div class="row animated  fadeIn">
          <div class="col-md-12 text-center">
            <h1 class="display-4 font-weight-bold mb-0 pt-md-5 pt-5 animated  fadeInUp">Inventario Datos CHEC</h1>
            <h5 class="pt-md-2 pt-sm-2 pt-2 pb-md-2 pb-sm-2 pb-2 wow animated  fadeInDown" data-wow-delay="0.2s" [hidden]="bSeleccionFuente">Selecciona una fuente de datos para ver su detalle</h5>
            <div class="animated  fadeInUp" data-wow-delay="0.4s">
            
            </div>
          </div>
        </div>
      </div>
    </div>
-->
<!--Button with wave-->



        	<div class="row no-gutters  pt-4 mx-3"  style="display:flex;justify-content: center;align-items: center;    margin-top: 37px !important;">
            <div style="margin-right:71px;">
              <div class="text-center contenedor_bloque_izq" style=" position:  relative;">
                  <i class="fas fa-long-arrow-alt-right flecha_derecha" style="top: 52px;" ></i>
                  <i class="fas fa-long-arrow-alt-right flecha_derecha" style="top: 256px;" ></i>
                  <i class="fas fa-long-arrow-alt-right flecha_derecha" style="top: 452px;" ></i>
                 <div class="bloque_izq sombra" >
                    <p class="p-0 m-0 texto_titulos texto_bloque_izquierdo">                  

                      Clientes y Necesidades</p>
                 </div>
              </div>
            </div>
            <div style="margin-right:71px;">

        	    <div class="text-center " style="position: relative" >

                    <!--Grid row-->
                    <div  class="d-inline-block" style="position: relative;">
                      <p class="m-0 p-0 texto_titulos texto_titulo_1 centrado_texto_titulos">GERENCIALES</p>
                      <div  class="forma_titulos sombra" >
                        <img src="./assets/img/gerenciales.svg" style="
    position: absolute;
    left: 13px;
    top: 50%;
    transform: translate(0%,-50%);
    width: 32px;" >
                      </div>
                    </div>

                    <div  id="gerenciales" style=" margin-top:-14px;" class="p-0 contenedor_categorias sombra" >
                      <div class="d-flex justify-content-around">
                        <div  class="contenedor_engranen">
                          <img  class="engranen_1" src="./assets/img/engranen_2.png">
                          <img class="bola_1" src="./assets/img/bola.png" >
                          <p  class="texto_engranen_1 p-0 m-0 centrado_hv" style="transform: translate(-35px, -15px);">Gestión Estratégica</p>
                          <img class="icon_1" src="./assets/img/gestion_estrategica.svg"   >
                        </div>
                          <div  class="contenedor_engranen">
                            <img  class="engranen_1" src="./assets/img/engranen_2.png">
                            <img class="bola_1" src="./assets/img/bola.png" >
                            <p  class="texto_engranen_1 p-0 m-0 centrado_hv" >Sistema Gestión de la calidad</p>
                            <img class="icon_1" src="./assets/img/quality.svg"   >
                          </div>
                      </div>
                    </div>

                    <i class="fas fa-long-arrow-alt-down flecha_abajo"></i>


                    <div class="d-inline-block" style=" margin-top:-15px; position: relative;">
                      <p class="m-0 p-0 texto_titulos texto_titulo_1 centrado_texto_titulos">MISIONALES</p>
                      <div  class="forma_titulos sombra" >
                        <img src="./assets/img/misionales.svg" style="
    position: absolute;
    left: 13px;
    top: 50%;
    transform: translate(0%,-50%);
    width: 32px;" >

                      </div>
                    </div>
                    <div  id="misionales"   style=" margin-top:-14px;" class="p-0 contenedor_categorias sombra" >
                      <div class="d-flex justify-content-around">
                        <div  class="contenedor_engranen">
                          <img  class="engranen_1" src="./assets/img/engranen_3.png">
                          <img class="bola_1" src="./assets/img/bola.png" >
                          <p  class="texto_engranen_1 p-0 m-0 centrado_hv" style="transform: translate(-35px, -8px);" >Docencia</p>
                          <img class="icon_1" src="./assets/img/docencia.svg"   >
                        </div>
                        <div  class="contenedor_engranen">
                          <img  class="engranen_1" src="./assets/img/engranen_3.png">
                          <img class="bola_1" src="./assets/img/bola.png" >
                          <p  class="texto_engranen_1 p-0 m-0 centrado_hv" style="transform: translate(-35px, -15px);">Investigación y Postgrados</p>
                          <img class="icon_1" src="./assets/img/investigacion.svg"   >
                        </div>
                        <div  class="contenedor_engranen">
                          <img  class="engranen_1" src="./assets/img/engranen_3.png">
                          <img class="bola_1" src="./assets/img/bola.png" >
                          <p  class="texto_engranen_1 p-0 m-0 centrado_hv" style="transform: translate(-35px, -15px);">Proyección Social</p>
                          <img class="icon_1" src="./assets/img/proyeccion_social.svg"   >
                        </div>
                      </div>
                    </div>

                    <i class="fas fa-long-arrow-alt-up flecha_abajo"></i>


                    <div  class="d-inline-block" style=" margin-top:-15px; position: relative;">
                      <p class="m-0 p-0 texto_titulos texto_titulo_1 centrado_texto_titulos">APOYO / SOPORTE</p>
                      <div  class="forma_titulos sombra" >
                        <img src="./assets/img/apoyo.svg" style="
    position: absolute;
    left: 13px;
    top: 50%;
    transform: translate(0%,-50%);
    width: 32px;" >


                      </div>
                    </div>
                    <div  id="apoyo_soporte"   style=" margin-top:-14px;" class="p-0 contenedor_categorias sombra" >
                      <div class="d-flex justify-content-around">
                        <div  class="contenedor_engranen">
                          <img  class="engranen_1" src="./assets/img/engranen_4.png">
                          <img class="bola_1" src="./assets/img/bola.png" >
                          <p  class="texto_engranen_1 p-0 m-0 centrado_hv" >Gestión Desarrollo Humano</p>
                          <img class="icon_1" src="./assets/img/desarrollo_humano.svg"   >
                        </div>
                        <div  class="contenedor_engranen">
                          <img  class="engranen_1" src="./assets/img/engranen_4.png">
                          <img class="bola_1" src="./assets/img/bola.png" >
                          <p  class="texto_engranen_1 p-0 m-0 centrado_hv" style="width:  83px; transform: translate(-42px, -15px);" >Gestión de Infraestructura</p>
                          <img class="icon_1" src="./assets/img/infraestructura.svg"   >
                        </div>
                        <div  class="contenedor_engranen">
                          <img  class="engranen_1" src="./assets/img/engranen_4.png">
                          <img class="bola_1" src="./assets/img/bola.png" >
                          <p  class="texto_engranen_1 p-0 m-0 centrado_hv" style="transform: translate(-35px, -28px);" >Gestión Recursos de Apoyo Académico</p>
                          <img class="icon_1" src="./assets/img/academico.svg"   >
                        </div>
                        <div  class="contenedor_engranen">
                          <img  class="engranen_1" src="./assets/img/engranen_4.png">
                          <img class="bola_1" src="./assets/img/bola.png" >
                          <p  class="texto_engranen_1 p-0 m-0 centrado_hv" >Gestión de Bienes Servicios</p>
                          <img class="icon_1" src="./assets/img/servicios.svg"   >
                        </div>

                      </div>
                    </div>



              </div>


            </div>
            <div class="text-center contenedor_bloque_derecho" style=" position:  relative;">
               <i class="fas fa-long-arrow-alt-right flecha_derecha_derecha" style="top: 70px;" ></i>
               <i class="fas fa-long-arrow-alt-right flecha_derecha_derecha" style="top: 250px;" ></i>
               <i class="fas fa-long-arrow-alt-right flecha_derecha_derecha" style="top: 452px;" ></i>

               <div class="bloque_izq sombra" >
                  <p class="p-0 m-0 texto_titulos texto_bloque_derecho" >Satisfacción de los grupos de interés</p>
               </div>
            </div>

<!--      
-->

        	 </div>






  </div>
  <!-- Full Page Intro -->

<!--<footer_component></footer_component>-->
