<menu (fn_dashboard)="fn_getFuente($event)" class="m-0"></menu>



  <div class="view vh-100" style="background-image: url('./assets/img/background.png'); background-repeat: no-repeat; background-size: cover; background-position: center center;">
<!--

    <div  class="mask  d-flex justify-content-center align-items-center"   style="margin-top: -100px;">
      <div class="container m-0 p-0">
        <div class="row animated  fadeIn">
          <div class="col-md-12 text-center">
            <h1 class="display-4 font-weight-bold mb-0 pt-md-5 pt-5 animated  fadeInUp">Inventario Datos CHEC</h1>
            <h5 class="pt-md-2 pt-sm-2 pt-2 pb-md-2 pb-sm-2 pb-2 wow animated  fadeInDown" data-wow-delay="0.2s" [hidden]="bSeleccionFuente">Selecciona una fuente de datos para ver su detalle</h5>
            <div class="animated  fadeInUp" data-wow-delay="0.4s">
            
            </div>
          </div>
        </div>
      </div>
    </div>
-->
<!--Button with wave-->


        	<div class="row no-gutters mt-5 pt-4 mx-3" style="border:1px solid red;" >
        	    <div class="text-center col-sm-12" style="position: relative">
                    <!--Grid row-->
                    <img  class="forma_titulos" src="./assets/img/forma_titulos.png">
                    <p class="m-0 p-0 texto_titulos texto_titulo_1">GERENCIALES</p>




                    <div style="position:relative">
                      <img  class="fondo_categorias fondo_categoria_1" src="./assets/img/fondo_categorias_1.png">
                      <img  class="engranen_1" src="./assets/img/engranen.png">
                      <img class="bola_1" src="./assets/img/bola.png" >
                      <p  class="texto_engranen_1" > Gestión Estratégica </p>
                      <img class="icon_1" src="./assets/img/classroom.svg"   >

                      <img  class="engranen_2" src="./assets/img/engranen.png">
                      <img class="bola_2" src="./assets/img/bola.png" >
                      <p  class="texto_engranen_2" >Sistema Gestión de la calidad</p>
                      <img class="icon_2" src="./assets/img/quality.svg"   >

                    </div>


                    <img  class="forma_titulos forma_titulos_2" src="./assets/img/forma_titulos.png">
                    <p class="m-0 p-0 texto_titulos texto_titulo_2">MISIONALES</p>

                    <div style="position:relative;bottom: 22%;">
                      <img  class="fondo_categorias fondo_categoria_1" src="./assets/img/fondo_categorias_2.png">
                      <img  class="engranen_1" src="./assets/img/engranen_2.png">
                      <img class="bola_1" src="./assets/img/bola.png" >
                      <p  class="texto_engranen_1" > Docencia </p>
                      <img class="icon_1" src="./assets/img/classroom.svg"   >

                      <!--<img  class="engranen_4" src="./assets/img/engranen.png">
                      <img class="bola_4" src="./assets/img/bola.png" >
                      <p  class="texto_engranen_4" > Investigación Posgrados </p>
                      <img class="icon_4" src="./assets/img/classroom.svg"   >-->

                      <img  class="engranen_2" src="./assets/img/engranen_2.png">
                      <img class="bola_2" src="./assets/img/bola.png" >
                      <p  class="texto_engranen_2" >Sistema Gestión de la calidad</p>
                      <img class="icon_2" src="./assets/img/quality.svg"   >

                    </div>

              </div>
        	 </div>






  </div>
  <!-- Full Page Intro -->

<!--<footer_component></footer_component>-->
