<div class="titulo_secciones  sombra">
	Gestión Financiera
</div>

<div class="breadcum mt-4">
<mdb-breadcrumb customClass="black-text">
  <mdb-breadcrumb-item class="cursor_pointer" routerLink="/dashboard">
    <mdb-icon ></mdb-icon><i class="fa fa-home ml-1" aria-hidden="true"></i> Inicio
  </mdb-breadcrumb-item>
  <mdb-breadcrumb-item class="active" >
    <mdb-icon  fas icon="angle-double-right" class="mr-1 "></mdb-icon><i class="fa fa-ellipsis-h ml-1" aria-hidden="true"></i> Gestión
  </mdb-breadcrumb-item >
  <!--<mdb-breadcrumb-item class="active">
    <mdb-icon fas icon="angle-double-right" class="mr-1"></mdb-icon><i class="fa fa-sign-out ml-1" aria-hidden="true"></i> Data
  </mdb-breadcrumb-item>-->
</mdb-breadcrumb>

</div>
