<!--Double navigation-->
<header>

  <!-- Sidebar navigation sn-bg-1  -->
  <mdb-side-nav #sidenav class="background_gris" [fixed]="false">

    <div class="container_fuentes color_texto_gris">
      <div class="fuente m-2 view overlay zoom pointer" *ngFor="let fuente of aFuentes; let i=index;" (click)="sidenav.hide();oFuenteSeleccionada=fuente;bPrimeraVez=true;iFuenteSeleccionada=i;fn_setFuente(fuente);" >
        <div class="ribbon" [hidden]="i!=iFuenteSeleccionada"><span>Actual</span></div>
        <div class="row h-100  no-gutters">
          <div class="col-sm-8 ">
            
            <div class="row no-gutters p-1" >
              <div class="col-sm-12 d-flex flex-center font-weight-bold cabecera_fuente text-center text-uppercase" >
                {{fuente.nombre}}
              </div>
            </div>
            <div class="row no-gutters p-1 font-weight-normal  h-75">
              <div class="col-sm-12 d-flex flex-center text-center"  >
                {{fuente.descripcion}}
              </div>
            </div>
          </div>

          <div class="col-sm-4 d-flex flex-center pr-1">
            <img [src]="fuente.icon" class="img-fluid">
          </div>
        </div>
      </div>
    </div>


  <!--<div class="sidenav-bg mask-strong"></div>-->
  </mdb-side-nav>
  <!--/. Sidebar navigation -->

  <!-- Navbar -->
  <mdb-navbar SideClass="navbar fixed-top navbar-toggleable-md navbar-expand-lg scrolling-navbar double-nav verde_header d-flex justify-content-between"
              [containerInside]="false">


    <mdb-navbar-brand>
      <!-- SideNav slide-out button -->
        <a (click)="sidenav.show()" class="button-collapse hidden-nav-button-collapse">
          <i class="fas fa-bars" [ngClass]="!bPrimeraVez?'bola_resalte':''"></i>
        </a>
      <!--/. SideNav slide-out button -->


      <!-- Breadcrumb-->

      <!--/. Breadcrumb-->
    </mdb-navbar-brand>
    <mdb-navbar-brand>
      <img *ngIf="oFuenteSeleccionada" [src]="oFuenteSeleccionada?.icon" height="35">
      <span class="ml-3 color-texto-gris font-weight-bold text-uppercase">{{oFuenteSeleccionada?.nombre}}</span>
    </mdb-navbar-brand>
    <mdb-navbar-brand>
    <a class="navbar-brand" href="#">
        <img src="/assets/img/logoum2.png" height="35" alt="">
    </a>      
    <a class="navbar-brand" href="#">
        <img src="/assets/img/logo_chec.png" height="35" alt="">
    </a>
    </mdb-navbar-brand>

    <!--<navlinks>
      <ul class="nav navbar-nav nav-flex-icons ml-auto ie-double-nav ie-hidden-double-nav">
        <li class="nav-item">
          <mdb-navbar-brand>
              <a class="navbar-brand" href="#">
                  <img src="/assets/img/logo_chec.png" height="35" alt="">
              </a>
          </mdb-navbar-brand>
        </li>

      </ul>
    </navlinks>-->
  </mdb-navbar>
  <!--/. Navbar -->

</header>
<!--/.Double navigation-->